// Fonts
$base-font: 'Gotham Pro',
sans-serif;
$base-font-size: 18px;

$vk-color: #4a76a8;
$fb-color: #3b5998;
$in-color: #007cb7;
$tg-color: #229ace;

$section-title: #ffa66a;
$item-title: #5f383c;
$text-color: #787878;
$btn-color: #81b446;

$t-time: .4s;