@import "_fonts";
@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  color: $text-color;
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: $base-font;
  outline: none;
  transition: $t-time;

  &:hover {
    cursor: pointer;
  }
}

input,
textarea {
  outline: none;
}

.section {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 1170px;
  padding: 0 15px;

  @media (max-width: 1199px) {
    width: 970px;
  }

  @media (max-width: 992px) {
    width: 767px;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 20px;
  }

}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 246px;
  height: 50px;
  box-shadow: inset 0 -3px 5px rgba(211, 255, 160, 0.25);
  border-radius: 25px;
  background-color: $btn-color;
  background-image: linear-gradient(to top, rgba(129, 180, 70, 0.6) 0%, rgba(125, 240, 68, 0.6) 100%);
  border: none;
  color: #ffffff;
  font-size: 15px;

  &:hover {
    background-image: linear-gradient(to top, rgba(129, 180, 70, 0.4) 0%, rgba(125, 240, 68, 0.6) 70%);

    .icon-arrow {
      transform: translateX(2px);
    }
  }
}

@import "icons";

//app/elements/common-elements/header
@import "../elements/common-elements/header/header";
@import "../elements/common-elements/footer/footer";

//app/elements/index-page
@import "../elements/index-page/banner/banner";
@import "../elements/index-page/work/work";

//app/elements/portfolio
@import "../elements/portfolio/portfolio";

//app/elements/contact-page
@import "../elements/contact-page/contact/contact";