.banner.section
  ._wrap.wrap
    ._info
      ._title tischlerei lambrecht GmbH
      ._text Wir montieren für Sie Einbauküche, Schränke, Sofas, <br class="banner__br"> Türen und viele weitere verschiedene Möbelstücke.<br class="banner__br"> Machen Sie einen stressfreien Umzug und rufen <br class="banner__br"> Sie uns einfach an.
      button(type='submit').btn._btn Kontakt aufnehmen
        +svg('arrow')
    ._img
      img(src="img/banner-img.png", alt="alt")