.banner {
  padding: 70px 0;

  @media(max-width: 576px) {
    padding: 30px 0;
  }

  &__br {
    @media(max-width: 576px) {
      display: none;
    }
  }

  &__wrap {
    flex-direction: row;
    position: relative;

    @media(max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    z-index: 1;
    position: relative;

    &:after {
      content: '';
      background: url(img/corner.png)no-repeat center/cover;
      width: 58px;
      height: 46px;
      display: block;
      position: absolute;
      z-index: -1;
      left: -60px;
      bottom: -60px;

      @media(max-width: 768px) {
        left: 0;
        bottom: -30px;
      }
    }
  }

  &__title {
    color: $section-title;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    position: relative;
    z-index: 1;

    @media(max-width: 576px) {
      font-size: 28px;
    }

    &:before {
      content: '';
      background: url(img/leaf.png)no-repeat center/cover;
      width: 24px;
      height: 41px;
      display: block;
      position: absolute;
      z-index: -1;
      left: -21px;
      top: -22px;

      @media(max-width: 576px) {
        left: -3px;
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    margin: 35px 0 0 0;

    @media(max-width: 576px) {
      margin: 20px 0 0 0;
    }
  }

  &__btn {
    margin: 50px 0 0 0;

    &:hover {
      background: darken($btn-color, 2%);

      .icon-arrow {
        transform: translateX(2px);
      }
    }

    @media(max-width: 1200px) {
      margin: 50px auto 0 auto;
    }

    @media(max-width: 576px) {
      margin: 30px auto 0 auto;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    right: -60px;

    @media(max-width: 1300px) {
      right: -30px;
    }

    @media(max-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 90px auto 0 auto;
      z-index: 1;
      right: auto;
    }

    @media(max-width: 576px) {
      margin: 50px auto 0 auto;
    }
  }
}