.footer.section
  ._wrap.wrap
    ._navigation
      ._title navigation
      nav._nav
        a(href="#", title="title")._nav-item Home
        a(href="#", title="title")._nav-item Impressum
        a(href="#", title="title")._nav-item Datenschutz
        a(href="#", title="title")._nav-item AGB
    ._info
      ._title ÜBER UNS
      ._text Nur hier können Sie EXKLUSIVE und DESIGNER Artikeln preiswert bestellen. Professionelle Arbeit und Zuverlässigkeit sind Garantiert. Neuanfertigung, Restaurierung, Montage, Verlegung, Verarbeitung, Reparatur und vieles  mehr ist unser Alltag. Informieren Sie sich!!! Fragen kostet nichts.
    ._contacts
      ._title KONTAKT
      ._contacts-list
        ._contacts-list-item 
          +svg('location', 'footer__icon')
          | Tischlerei Lambrecht GmbH, Ruhlsdorfer Str. 95, Gebäude 99, 14532 Stahnsdorf
        ._contacts-list-item 
          +svg('phone', 'footer__icon footer__phone-svg')
          a(href="tel:015234247868 ", title="title")._tel 0152 34247868 
        ._contacts-list-item
          +svg('phone', 'footer__icon footer__phone-svg')
          a(href="tel:+49033181324077", title="title")._tel +49 (0) 3318 132 40 77
        ._contacts-list-item
          +svg('envelope', 'footer__icon')
          a(href="mail:tischlerei.lambrecht@gmail.com", title="title")._mail tischlerei.lambrecht@gmail.com
