.portfolio.section
  ._wrap.wrap
    ._title REFERENZEN MEINE ARBEITEN
    ._list.gallery
      a(href="img/lominate.png", title="title" data-fancybox="images")._list-item
        img(src="img/lominate.png", alt="alt")._img
        ._info
          +svg('search', 'portfolio__search-svg')
          ._list-item-title Verlegung
          ._list-item-sumtitle Laminat in Wohnzimmer

      a(href="img/garage.png", title="title" data-fancybox="images")._list-item.-one
        img(src="img/garage.png", alt="alt")._img
        ._info
          +svg('search', 'portfolio__search-svg')
          ._list-item-title Mehroboter Garage
          ._list-item-sumtitle Laminat in Wohnzimmer
    
      a(href="img/furniture.png", title="title" data-fancybox="images")._list-item.-two
        img(src="img/furniture.png", alt="alt")._img
        ._info
          +svg('search', 'portfolio__search-svg')
          ._list-item-title Ordnerreg
          ._list-item-sumtitle Laminat in Wohnzimmer

      a(href="img/bar.png", title="title" data-fancybox="images")._list-item
        img(src="img/bar.png", alt="alt")._img
        ._info
          +svg('search', 'portfolio__search-svg')
          ._list-item-title Bartisch
          ._list-item-sumtitle Laminat in Wohnzimmer

      a(href="img/wardrobe.png", title="title" data-fancybox="images")._list-item
        img(src="img/wardrobe.png", alt="alt")._img
        ._info
          +svg('search', 'portfolio__search-svg')
          ._list-item-title Garderoben Set
          ._list-item-sumtitle Laminat in Wohnzimmer

      a(href="img/schaukel.png", title="title" data-fancybox="images")._list-item.-three
        img(src="img/schaukel.png", alt="alt")._img
        ._info
          +svg('search', 'portfolio__search-svg')
          ._list-item-title Gartenschaukel
          ._list-item-sumtitle Laminat in Wohnzimmer

      a(href="img/kueche.png", title="title" data-fancybox="images")._list-item.-four
        img(src="img/kueche.png", alt="alt")._img
        ._info
          +svg('search', 'portfolio__search-svg')
          ._list-item-title Montage einer Einbauküche
          ._list-item-sumtitle Laminat in Wohnzimmer