.work.section
  ._wrap.wrap
    ._title DIENSTLEISTUNGEN
    ._list
      ._list-item
        img(src="img/work-img1.png", alt="alt")._img
        ._info
          ._info-title.-one MONTAGE
          ._info-descr.-one Ich übernehme Ihre komplette Möbelmontage. Ob Sofa, Anbauwand, Kleiderschrank, Bett oder Küche.

      ._list-item
        ._info
          ._info-title.-two VERLEGUNG
          ._info-descr.-two Ich verlege Bodenbeläge aller Art und Qualität. Eine qualitativ hochwertige, fach- und sachgerechte Arbeit ist für mich eine Selbstverständlichkeit.
        img(src="img/work-img2.png", alt="alt")._img

      ._list-item
        img(src="img/work-img3.png", alt="alt")._img
        ._info
          ._info-title.-three NEUANFERTIGUNG
          ._info-descr.-three Fertigung von Einzelmöbelstücken, Komplettausbau von Innenräumen und Büromöbel aller Art.

      ._list-item
        ._info
          ._info-title.-four REPARATUR
          ._info-descr.-four Möbelreparatur aller art, ob Holzfehler, Furnierschäden, Profilleiste, Sitzfurnier, Ausgerissenes Scharnier oder Abgeplatzte Kante und natürlich viel mehr.
        img(src="img/work-img4.png", alt="alt")._img