.work {
  padding: 160px 0;

  @media(max-width: 992px) {
    padding: 30px 0;
  }

  &__wrap {
    width: 980px;
    align-items: center;

    @media(max-width: 768px) {
      padding: 0 15px;
    }
  }

  &__title {
    color: $section-title;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    position: relative;
    z-index: 1;

    @media(max-width: 576px) {
      font-size: 22px;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 19px;
      height: 19px;
      border: 8px solid #e7d5bb;
      opacity: 0.5;
      left: -22px;
      top: -15px;
      z-index: -1;
    }

    &:before {
      content: '';
      background: url(img/leaf-green.png)no-repeat center/cover;
      display: block;
      position: absolute;
      width: 37px;
      height: 39px;
      right: -25px;
      top: -30px;
    }
  }

  &__list {
    margin: 90px 0 0 0;
    width: 100%;

    @media(max-width: 576px) {
      margin: 40px 0 0 0;
    }
  }

  &__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    width: 100%;

    @media(max-width: 992px) {
      flex-direction: column;
    }

    &:not(:first-child) {
      margin: 100px 0 0 0;

      @media(max-width: 992px) {
        margin: 80px 0 0 0;
      }

      @media(max-width: 576px) {
        margin: 40px 0 0 0;
      }
    }

    &:nth-of-type(even) {
      text-align: right;

      @media(max-width: 992px) {
        flex-direction: column-reverse;
      }
    }

    &:nth-of-type(odd) {
      margin-left: auto;
    }
  }

  &__info-title {
    color: $item-title;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    position: relative;
    z-index: 1;

    @media(max-width: 576px) {
      font-size: 22px;


    }

    &_one {
      &:before {
        content: '';
        position: absolute;
        width: 44px;
        height: 33px;
        left: -20px;
        top: -20px;
        border-left: 12px solid rgba(#e7d5bb, 0.5);
        border-top: 12px solid rgba(#e7d5bb, 0.5);
        z-index: -1;

        @media(max-width: 576px) {
          left: -10px;
        }
      }
    }

    &_two {
      &:before {
        content: '';
        position: absolute;
        width: 44px;
        height: 33px;
        right: -40px;
        top: -29px;
        border-left: 12px solid rgba(#e7d5bb, 0.5);
        border-top: 12px solid rgba(#e7d5bb, 0.5);
        z-index: -1;
        transform: rotate(90deg);

        @media(max-width: 576px) {
          right: -10px;
          top: -10px;
        }
      }
    }

    &_three {
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 19px;
        height: 19px;
        border: 8px solid #e7d5bb;
        opacity: 0.5;
        left: -22px;
        top: -15px;
        z-index: -1;

        @media(max-width: 576px) {
          left: -14px;
          top: -10px;
        }
      }
    }

    &_four {
      &:before {
        content: '';
        position: absolute;
        width: 33px;
        height: 115px;
        right: 11px;
        top: -62px;
        border-left: 12px solid rgba(#e7d5bb, 0.5);
        border-top: 12px solid rgba(#e7d5bb, 0.5);
        z-index: -1;
        transform: rotate(90deg);

        @media(max-width: 576px) {
          right: 30px;
        }
      }
    }
  }

  &__info-descr {
    font-size: 18px;
    line-height: 30px;
    margin: 40px 0 0 0;
    width: 100%;
    position: relative;

    @media(max-width: 576px) {
      margin: 20px 0 0 0;
      font-size: 16px;
    }

    &_one {
      max-width: 495px;
    }

    &_two {
      max-width: 482px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        background: url(img/green-3.png)no-repeat center/cover;
        width: 38px;
        height: 73px;
        right: -38px;
        bottom: -60px;

        @media(max-width: 576px) {
          right: 18px;
        }
      }
    }

    &_three {
      max-width: 501px;
    }

    &_four {
      max-width: 495px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        background: url(img/green-3.png)no-repeat center/cover;
        width: 38px;
        height: 73px;
        left: -38px;
        top: -60px;
        transform: rotate(138deg);

        @media(max-width: 576px) {
          left: 10px;
        }
      }
    }
  }

  &__info {
    @media(max-width: 992px) {
      margin: 30px 0 0 0;
    }
  }
}