.header.section
  ._wrap.wrap
    ._navigation
      +icon('logo')
      ._menu
        ._menu-btn-wrap
          span._menu-btn
        nav._nav
          a(href="#", title="title")._nav-item.-active HOME 		
          a(href="#", title="title")._nav-item REFERENZEN 		
          a(href="#", title="title")._nav-item REFERENZEN 		
          a(href="#", title="title")._nav-item KONTAKT
    ._contacts
      a(href="mal:tischlerei.lambrecht@gmail.com", title="title")._mail tischlerei.lambrecht@gmail.com
      ._tel-info
        +svg('phone')
        a(href="tel:+49033181324077", title="title")._tel (+49) 0 3318 132 40 77 